[Desktop Entry]
Type=Application
Name=Write-It
Comment=A word processor for The Lunduke Computer Operating System
Exec=write-it %F
Terminal=false
Categories=GTK;Office;WordProcessor;
StartupWMClass=write-it
StartupNotify=true
MimeType=application/rtf;text/rtf;text/markdown;
